<div class="container">
  <h1>Document Uploader</h1>

  <!-- Upload Section -->
  <div class="upload-section">
    <div class="dropzone" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
      <input type="file" #fileInput id="fileInput" multiple (change)="onFileSelect($event)" hidden />
      <img src="https://img.icons8.com/?size=100&id=4716&format=png&color=000000" alt="Upload Icon" />
      <h3>Drag and drop files here</h3>
      <h3>or</h3>
      <button type="button" (click)="fileInput.click()">Browse for files</button>
    </div>
  </div>

  <!-- Preview Section -->
  <div class="preview-section" *ngIf="filePreviews.length > 0">
    <h4>Uploaded Files:</h4>
    <div *ngFor="let preview of filePreviews; let i = index" class="preview">
      <!-- Image Preview -->
      <div *ngIf="preview.type === 'image'" class="preview-item">
        <a (click)="openImage(preview.data)" style="cursor: pointer">
          <img [src]="preview.data" alt="File Preview" class="image-preview" />
        </a>
        <img src="https://img.icons8.com/?size=100&id=QbdYxvBYITkh&format=png&color=000000" alt="Remove Icon"
          class="remove-icon" (click)="removeFile(i)" />
      </div>

      <!-- Document Preview -->
      <div *ngIf="preview.type === 'document'" class="preview-item">
        <a [href]="preview.data" [download]="preview.name">
          <p>{{ preview.name }}</p>
        </a>
        <div class="file-info">
          <p class="file-size">
            {{ (uploadedFiles[i].size / 1024).toFixed(2) }} KB
          </p>
        </div>
        <img src="https://img.icons8.com/?size=100&id=QbdYxvBYITkh&format=png&color=000000" alt="Remove Icon"
          class="remove-icon" (click)="removeFile(i)" />
      </div>
    </div>
  </div>
</div>