.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 100vh; /* Full viewport height */
  background-color: #f8f9fa; /* Optional, for contrast */
}

.upload-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone {
  border: 2px dashed #007bff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  transition: background-color 0.2s ease;
  width: 400px;

  &.dragging {
    background-color: #e0f7fa;
  }

  h3 {
    margin: 10px 0;
    color: #007bff;
  }

  button {
    color: white;
    width: 183px;
    height: 35px;
    border-radius: 21.5px;
    background-color: #007bff;
    padding: 8px 16px;
    border-color: #007bff;
  }
}

.preview-section {
  flex: 1;
  margin-left: 20px;
  text-align: left;
}

.preview-section h4 {
  color: #000;
  margin-bottom: 10px;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.preview-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 400px;
  padding: 10px;
  border: 2px dashed #007bff;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative; /* Required for positioning the remove icon */
}

.preview img {
  max-width: 100%;
  max-height: 80px;
  border-radius: 5px;
  background-color: #f8f9fa;
}

.remove-icon {
  position: absolute;
  top: 20px; 
  right: 20px; 
  width: 30px; 
  height: 30px;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 2px;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1); 
  }
}
